/* shiny-doorsign custom styles */

.card.bslib-card {
  height: calc(100vh - (calc(var(--bs-gutter-x) * .5))*2);
  margin: calc(var(--bs-gutter-x) * .5) 0;
}

.bslib-sidebar-layout>.sidebar>.sidebar-content {
  padding: 1em;
  padding-top: 2em;
  gap: 6px;
}

.form-group {
  margin-bottom: 0;
}

.shiny-input-container .control-label {
  margin-bottom: 0;
}

label.control-label {
  font-size: 0.7rem;
  text-transform: uppercase;
  margin-left: 0.3rem;
}

hr {
  color: gray;
  margin: 0.8rem 0;
}

#out_pdf {
  height: 100%;
  overflow: hidden;
}

.form-control {
  font-size: 0.8rem;
}

.help-note {
  font-size: 0.7rem;
  color: #C0C0C0;
}

.app-header {
  padding: 1em;
  background-image: url("banner.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.app-card-header {
  padding: 0;
}

.app-footer {
  background-color: #FFFFFF;
  padding: 0.5em;
}

.accordion-body {
  padding-top: 0.2em;
}

button.accordion-button {
  font-size: 0.9rem;
  padding: 0.8rem;
}

.accordion .accordion-icon {
  margin-right: 0.5rem !important;
}

.accordion {
  margin: 0.4em 0;
}

