/* custom css styles */

.progress > #in_img_profile_progress {
  margin-bottom:0;
}

.progress {
  margin-bottom:0;
}

.form-group {
  margin-bottom:0;
}

.help-note {
  font-size:0.85em;
  color:#8a6d3b;
  background-color:#fcf8e3;
  border-color:#faebcc;
  padding:6px;
  margin-bottom:3px;
  border-radius:3px;
}

.img-output {
  -webkit-box-shadow: 1px 1px 6px lightgrey;
  -moz-box-shadow: 1px 1px 6px lightgrey;
  box-shadow: 1px 1px 6px lightgrey;
  display:inline-block;
}
